<h2>{{ car ? 'Edit Car' : 'Add New Car' }}</h2>

<form [formGroup]="carForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="id">ID:</label>
    <input id="id" [appHighlightOnFocus]="'lightyellow'" formControlName="id" type="number" />
  </div>

  <div>
    <label for="name">Name:</label>
    <input id="name" [appHighlightOnFocus]="'lightyellow'" formControlName="name" type="text" />
  </div>

  <div>
    <label for="company">Company:</label>
    <input id="company" [appHighlightOnFocus]="'lightyellow'" formControlName="company" type="text" />
  </div>

  <div>
    <label for="year">Year:</label>
    <input id="year" [appHighlightOnFocus]="'lightyellow'" formControlName="year" type="number" />
  </div>

  <div>
    <label for="price">Price:</label>
    <input id="price" [appHighlightOnFocus]="'lightyellow'" formControlName="price" type="number" />
  </div>

  <div>
    <label for="releaseDate">Release Date:</label>
    <input id="releaseDate" [appHighlightOnFocus]="'lightyellow'" formControlName="releaseDate" type="date" />
  </div>

  <div>
    <label for="imageUrl">Image URL:</label>
    <input id="imageUrl" [appHighlightOnFocus]="'lightyellow'" formControlName="imageUrl" type="text" />
  </div>

  <div>
    <label>
      <input type="checkbox" formControlName="electric" />
      Electric
    </label>
  </div>

  <div *ngIf="errorMessage" style="color: red;">
    {{ errorMessage }}
  </div>

  <button type="submit">Submit</button>
</form>
